node_modules/
coverage/
.nyc_output/
npm-debug.log
bla.sh
log.txt
dist/
old/
test/data/bla.log
.idea
logs/
query.js
apidoc/
.vscode/
/nbproject/private/
test/data/.sequelizerc
test/data/test.sqlite3
test/data/db/connection.js
test/data/db/migrations/
test/data/db/models/index.js
